.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 9px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,.16);
  color: #0b0b0b;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  box-shadow: 0 2px 12px #be63d744;
  transition: background 0.17s;
}

.input-group input:focus {
  background: rgba(255,255,255,.23);
}

.input-group .icon {
  position: absolute;
  right: 18px; top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.row-between {
  display: flex; justify-content: space-between; align-items: center;
  margin: 0 0 4px 0; color: #0b0a0b; font-size: 1rem;
}
.remember input { accent-color: #b077fa;margin-right: 5px;}

.forgot {
  color: #121010;
  font-size: .94rem; text-decoration: underline;
  opacity: 0.82; font-weight: 400;
}

.main-btn {
  width: 100%;
  background: linear-gradient(90deg,#bd69cc 0%,#7a27e8 100%);
  border: none;
  border-radius: 40px;
  padding: 12px 0;
  font-size: 1.22rem;
  font-weight: 800;
  color: #fff;
  margin: 0.7rem 0 0 0;
  box-shadow: 0 2px 26px #ba3d92a0;
  cursor: pointer;
  transition: background .22s, box-shadow .2s;
}

.main-btn:hover {
  background: linear-gradient(90deg,#7a27e8 0%, #bd69cc 100%);
  box-shadow: 0 5px 36px #7533bd73;
}

.error-msg {
  color: #fed9e1;
  font-size: 0.99rem;
  text-align: center;
  font-weight: bold;
  margin-top: 7px;
}
